<div class="container-2xl p-4">
  <div class="flex justify-between content-center mt-4 mb-4">
    <h1 class="text-2xl font-semibold">{{title}}</h1>
  </div>
  <nav class="flex border-b-4 mb-2 w-full">
    <common-link link="/work-space/files">
      Файлы
    </common-link>
    <common-link link="/work-space/contents">
      Контент
    </common-link>
    <common-link link="/work-space/playlists">
      Плэйлисты
    </common-link>
    <common-link link="/work-space/tasks">
      Задания
    </common-link>
    <common-link link="/work-space/devices">
      Устройства
    </common-link>
    <common-link link="/work-space/groups">
      Группы устройств
    </common-link>
    <common-link link="/work-space/assemblies">
      Сборки
    </common-link>
  </nav>
  <router-outlet></router-outlet>
</div>