@if (notification$ | async; as notification) {
  <notification state="{{notification.visibility}}" type="{{notification.type}}">
    {{notification.message}}
  </notification>
}

@if (isAuthenticated$ | async; as isAuthenticated) {
  @if (isAuthenticated == 'NO') {
    <form [formGroup]="getCodeForm" (ngSubmit)="getCode()" class="mt-1">
      <common-input  
        required="true" 
        type="email"
        label="Адрес электронной почты"
        class="mb-6 mt-6 block"
        formControlName="email"
      >
      </common-input>
      <p class="text-zinc-500 text-xs mb-6">
        Нажимая «Получить код», я соглашаюсь с <uderline-link link="/privacy-policy">Политикой конфиденциальности</uderline-link>, 
        <br> 
        и <uderline-link link="/user-agreement">Пользовательским соглашением</uderline-link>
      </p>
      <div class="flex justify-end mt-12">
        <common-button type="submit">Получить код</common-button>
      </div>
    </form>
  }

  @if (isAuthenticated == 'IN_PROCESS') {
    <form [formGroup]="signInForm" (ngSubmit)="signIn()" class="mt-1">
      <common-input  
        required="true" 
        type="text"
        label="Одноразовый код"
        class="mb-2 block"
        formControlName="code"
      >
      </common-input>
      <common-input  
        required="true" 
        type="hidden"
        class="mb-2 block"
        formControlName="email"
      >
      </common-input>
      <p class="text-zinc-500 text-xs mb-6">
        Нажимая «Войти», я соглашаюсь с <uderline-link link="/privacy-policy">Политикой конфиденциальности</uderline-link>, 
        <br> 
        и <uderline-link link="/user-agreement">Пользовательским соглашением</uderline-link>
      </p>
      <div class="flex justify-end mt-12">
        <common-button type="submit">Войти</common-button>
      </div>
    </form>
  }
}


  
