/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: Raleway;
  src: url(/assets/fonts/Raleway/Raleway-VariableFont_wght.ttf);
}

body {
  font-family: 'Raleway', monospace;
  font-size: 15px;
  background-color: #f6f8fa;
  color: #141515;
  height: 100%;
  width: 100%;
  position: fixed;
}